@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

:root {
    --primary_color: #FFCB45;
    --secondary_color: #FFF9EA;
    --primary_black_color: #1D1D1D;
    --secondary_black_color: #1D1D1DB2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Readex Pro", sans-serif;
}

/* navbar contents */
.navbar {
    width: 100%;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 140px;
}

.nav_links {
    display: flex;
}

.nav_link {
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    margin-right: 37px;

}

.nav_link a {
    text-decoration: none;
    color: var(--secondary_black_color);
}

.navbar_other {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar_other button {
    width: 130px;
    height: 38px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary_color);
}

.hamburger {
    display: none;
}

/* header contents */
.header_containers {
    background-image: url(/images/shapes.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary_color);

}

.header_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.text_contents h1 {
    font-size: 48px;
}

.text_contents h1 span {
    color: var(--primary_color);
}

.text_contents p {
    font-size: 18px;
    margin: 20px 0px;
}

.text_contents button {
    width: 130px;
    height: 38px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary_color);

}

.img_contents img {
    max-width: 100%;
}



/* what we serve sections */
.we_serve_section {
    font-family: "Readex Pro", sans-serif;
    text-align: center;
    margin: 80px 0px;

}

.we_serve_section,
.popular_menu_section h6 {
    font-size: 22px;
    font-weight: 500;
    color: var(--primary_color);

}

.we_serve_section,
.popular_menu_section h2 {

    font-size: 32px;
    font-weight: 700;
    color: var(--primary_black_color);
}

.we_serve_section,
.popular_menu_section p {

    font-size: 22px;
    font-weight: 500;
    color: var(--primary_black_color);
}

.serve_cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;

}

.serve_card {
    width: 241px;
    height: 316px;
    text-align: center;

}

.serve_card h3 {
    font-size: 28px;
    font-weight: 600;
}

.serve_card p {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary_black_color);
}

/* our popular menu */
.popular_menu_section {
    text-align: center;
}

.menu_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0px 125px;
    padding-top: 50px;
}

.menu_item {
    width: 280px;
    height: 371px;
    background-color: #F1F1F1;
    border-radius: 10px;
    /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.2);


}

.menu_item>div {
    padding-top: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-size: 500;
    /* padding: 50px; */
    background-color: white;

}

.menu_item>div h3 {
    font-size: 20px;
    font-size: 500;
}

.menu_item>div>p {
    font-size: 18px;
    font-size: 400;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 15px;
}

#more_menu_btn {
    width: 136px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--primary_color);
    border-radius: 20px;
    border: none;
    padding: 10px;
    margin: 100px 0px;
    cursor: pointer;


}


.say_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;

}

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 100%;

}

.image-grid img:first-child {
    grid-column: span 2;
    width: 100%;
    object-fit: cover;
    height: 300px;
}


.image-grid img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    display: block;
}

.profile_section {
    display: flex;
    align-items: center;
    gap: 20px;

}

.say_card {
    width: 452px;
    height: 210px;
    padding: 30px;
    background-color: #F1F1F1;

}

.say_card>p {
    margin-top: 15px;
}

.say_contents h6 {
    font-size: 22px;
    color: var(--primary_color);
}

.say_contents h2 {
    font-size: 32px;
    font-weight: 700;
}

.say_cards {
    margin-top: 5vh;
}

/* Discount Section */
.discount_banner {
    width: 80%;
    height: 50vh;
    background-image: url(/images/unsplash_2lWGQ02DGL8.png);
    background-size: cover;
    margin: 20vh auto;
    text-align: center;
    font-size: 1vw;
    color: var(--secondary_color);
}

.discount_banner>h1 {
    text-align: center;
    padding-top: 20vh;
}

.discount_banner>button {
    text-align: center;
    padding: 1vh 1.5vw;
    border: none;
    border-radius: 10px;
    margin-top: 2vh;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary_black_color);
    background-color: var(--primary_color);
    cursor: pointer;
}

@media(max-width:768px) {
    .navbar {}

    .navbar_other {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--secondary_color);
    }

    .hamburger {
        display: flex;
    }

    .navbar ul.Active {
        display: flex;
    }

    .nav_links {
        width: 100%;
        height: auto;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-top: 400px;
        padding: 20px;
        background-color: #1D1D1D;
    }

    .nav_link {
        list-style: none;
        font-size: 24px;
        font-weight: 500;
        margin-right: 37px;

    }

    .nav_link a {
        color: white;
    }
}

/* Header Responsive Code */
@media(max-width:768px) {
    .header_contents {
        /* height: 100vh; */
        flex-direction: column-reverse;
        gap: 10px;
    }

    .img_contents img {
        min-width: 100%;
    }

    .text_contents {
        text-align: center;
    }

    .text_contents h1 {
        font-size: 35px;
    }

    .text_contents p {
        font-size: 18px;
        margin: 20px 0px;
    }

}